# Ambiente virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db

# Outputs gerados
outputs/

# Logs
*.log

# Tensorflow / checkpoints
*.h5
*.ckpt